:root {
  --color-text: black;
  --color-background: lightgray;
  --primary: #2196f3;
}
.primary {
  color: var(--primary);
}
.Cardheader {
  background-color: var(--primary);
  height: 2em;
}

.board {
  padding: 2em;
  background-color: #f5f5f5;
  margin-top: 2em;
}

.subtxt {
  text-indent: 2em;
}
.padL1 {
  padding-left: 1em;
}
.pageHeader {
  display: flex;
  justify-content: space-between;
  color: black;
  margin-top: 1em;
}
h1 {
  margin-bottom: 0;
}

.cardtext {
  padding-left: 2em;
}
.flexend {
  display: flex;
  justify-content: flex-end;
}
.primarytxt {
  color: var(--primary);
}
