#header_blue{
    height: 50px;
    background: #2d8cd6;
}
.bg-blue{
    background: #2d8cd6;
}
.mw-80{
    min-width: 80px;
}
.mw-150{
    min-width: 150px;
}
.mh-150{
    min-height: 150px;
}
.mh-80{
    min-height: 80px;
}

.mh-400{
    min-height: 400px;
}
.mh-44{
    min-height: 44px;
}

.mh-180{
    min-height: 180px;
}

.mh-120{
    min-height: 120px;
}

.mh-200{
    min-height: 200px;
}

.mh-250{
    min-height: 250px;
}

.mh-80{
    min-height: 80px;
}
.mh-100{
    min-height: 100px;
}

.mw-180{
    min-width: 180px;
}
.content{
    width: 80%;
}
.share-top{
    background: #aaaaaa;
}
.share-top-right{
    background: #f44481;
}
.share-top-right-text{
    color: #f44481!important
}
.bg-card-board{
    background: #f2f2f2!important;
}
.bg-bow{
    background: #ec9441!important;
}

.card-project{
    min-height: 150px!important;
}

.card-project-long{
    min-height: 250px!important;
}
.font-10{
    font-size:10px;
}
.font-18{
    font-size: 18px;
}
.font-15{
    font-size: 15px;
}
.font-20{
    font-size:20px;
}
.font-25{
    font-size: 25px;
}
.font-30{
    font-size:30px;
}
.font-40{
    font-size: 40px;
}
.color-gray{
    color:#cbcbcb!important;
}

.color-header-board{
    color: #4b9cdc!important;
}
.color-blue-light{
    background: #e0effa;
}

.a-click{
    cursor: pointer;
}
.mt-100{
    margin-top: 100px;
}

.op-harf{
    opacity: 0.5;
}

.shasow_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.line_gray{
    height: 5px;
    background: #e2e2e2;
}
.valid_premise_normal{
    width: 40px;
    height:40px;
    background: #2ea2ff;
    border-radius:80px;
}
.delete_premise{
    width: 40px;
    height:40px;
    background: #dd0751;
    border-radius:80px;
}

.valid_story_bow{
    width: 20px;
    height:20px;
    background: #2ea2ff;
    border-radius:80px;  
}

.valid_premise{
    width: 30px;
    height:30px;
    background: #2ea2ff;
    border-radius:80px;  
}

.valid_premise_small{
    width: 20px;
    height:20px;
    background: #2ea2ff;
    border-radius:80px;  
}



.bd-8{
    border-radius:8px;
}

.color_text_pm{
    color: #b4b4b4;
}
.color_uncheck{
    background: #aaaaaa;
    width: 40px;
    height:40px;
    border-radius:80px;
}

.color_text_theme{
    color: #bbbbbb;
}
.text_pov_plus{
    color:#d5edca;
}
.text_pov_plus_active{
    color: #78c454;
}

.box-positive{
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    /* background: blue; */
}

.color_uncheck_small {
    background: #aaaaaa;
    width: 30px;
    height: 30px;
    border-radius: 80px;
}

.color_uncheck_small_normal {
    background: #aaaaaa;
    width: 40px;
    height: 40px;
    border-radius: 80px;
}
.color_uncheck_small_high {
    background: #aaaaaa;
    width: 20px;
    height: 20px;
    border-radius: 80px;
}

.shadow-bt{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.my-box{
    background:#dedede;
}

.color_define_theme{
    color: #bcbcbc;
}

.circle_line{
    width: 60px;
    height: 60px;
    background: white;
    border-radius:80px;
    border: 7px solid #d3d3d3 ;
}
.color-plus{
    color: #dcdcdc;
}

.tab_story{
    border-bottom-left-radius:0;
    border-bottom-right-radius: 0;
}
.tl-radius{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab_story_map{
    color: white;
    background: #2d8cd6;
    /* width: 0px; */
}

.top_menu{
    z-index: 1;
    width: calc(100% - 30px);
    top: 10px;
}

.test{
    height:calc(100% - 3rem);
}

.t-37{
    top: -37px!important;
}
.t-25{
    top: -25px!important;
}

.mt-60{
    margin-top: 60px;
}
.pt_summary{
    padding-top: 39px!important;
}
.t-0{
    top: 0;
}
.pt-60{
    padding-top:60px ;
}
.txt-color-bow{
    color: #d4d4d4;
}

.bow1{
    top: 637px;
    left: 113px;
}

.bow2{
    top: 21px;
    left: 763px;
}
.bow3{
    top: 384px;
    left: 494px;
}

.bow4{
    top: 390px;
    left: 1016px;
}

.bow5{
    top: 633px;
    left: 593px;
}

.bow6{
    top: 897px;
    left: 500px;
}

.bow7{
    top: 910px;
    left: 1003px;
}
.bow8{
    top: 1278px;
    left: 766px;
}

.bow9{
    top: 639px;
    left: 1386px;
}



.act{
    /* width: 150px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.top-rd-0{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}


.t1{
    transition: 0.5s;
}

.card-back-drop{
    width: 40%;
    /* margin-top: 5%; */
    opacity:0;
}
.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transition: 0.5s;
    animation-duration: 0.5s;
    animation-name: slidein;
}
.backdrop-high{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    transition: 0.5s;
    animation-duration: 0.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        background: rgba(0, 0, 0, 0.1);;
    }
  
    to {
        background: rgba(0, 0, 0, 0.5);
    }
  }



.op1{
    opacity:1;
}

.tool_color{
    top: 0;
    left: 0;
    width: calc(100% + 10px) !important;
}
.border-blue{
    border: 1px solid #2ea2ff;
    background: #2ea2ff;
}
.bd-blue{
    border: 1px solid #2ea2ff;
}
.bd-gray{
    /* border: #e6e8eb!important; */
    color: #c3c3c3;
    border:  1px solid #e6e8eb!important;
}
.active-premise{
    color: #2ea2ff;
    border:  1px solid #2ea2ff!important;
}

textarea::placeholder {
    color: #2ea2ff;
}
.card-idea-premise{
    background: #fafafa;
    min-height: 200px;
}
.color-popup-gray{
    background: #fafafa;
}
#tag-a{
    color: black!important;
}

a,
a:focus,
a:hover,
a:visited,
a:link
{
    text-decoration: none;
}
.bg-premise-txt{
    background: #efefef;
}
.circle-delete-premise{
    width: 200px;
    height: 200px;
    background: white;
    border:  8px solid  #aaaaaa;
    border-radius:100px;
}
.bd-lock-line{
    border: 2.5px solid #aaaaaa !important
}
.bd-lock-line-active {
    border: 2.5px solid #2ea2ff !important
}
.placeo-blue::placeholder{
    color:#2ea2ff
}
.profile-image{
    border: 2.5px solid #2ea2ff !important;
    width: 120px;
    height: 100px;
    background: #bbbbbb;
}
.profile-image-add{
    width:120px;
    height: 100px;
    background: white;
    border: 2.5px solid #2ea2ff !important;
}

#other_checkbox::placeholder{
    color:#2ea2ff  
}